.u-section-1 .u-sheet-1 {
  min-height: 832px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -77px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 712px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 8px;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 77px 0 0 17px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 30px 95px 0 17px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 20px auto 0 17px;
  padding: 19px 52px 20px 51px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 712px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 544px;
  height: 643px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -24px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 587px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 640px;
  }

  .u-section-1 .u-image-1 {
    height: 611px;
    margin-top: 15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -37px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 490px;
  }

  .u-section-1 .u-image-1 {
    height: 468px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 984px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 668px;
  }

  .u-section-1 .u-image-1 {
    height: 638px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 421px;
  }

  .u-section-1 .u-image-1 {
    height: 402px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 762px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 70px 286px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 25px 303px 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  margin-top: 44px;
  margin-bottom: -194px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 310px;
  grid-gap: 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 15px 30px 9px;
}

.u-section-2 .u-group-1 {
  width: 310px;
  height: 310px;
  margin: 0 9px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 20px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 25px auto 0;
}

.u-section-2 .u-text-4 {
  font-style: normal;
  margin: 40px 5px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 15px 30px 9px;
}

.u-section-2 .u-group-2 {
  width: 310px;
  height: 310px;
  margin: 0 9px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 20px;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-5 {
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 25px auto 0;
}

.u-section-2 .u-text-6 {
  font-style: normal;
  margin: 40px 5px 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 15px 30px 9px;
}

.u-section-2 .u-group-3 {
  width: 310px;
  height: 310px;
  margin: 0 9px 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 20px;
}

.u-section-2 .u-icon-3 {
  height: 48px;
  width: 48px;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-7 {
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 25px auto 0;
}

.u-section-2 .u-text-8 {
  font-style: normal;
  margin: 40px 5px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-2 .u-text-1 {
    width: 764px;
    margin-right: 86px;
  }

  .u-section-2 .u-text-2 {
    width: 837px;
    margin-right: 103px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -234px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 256px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 9px;
  }

  .u-section-2 .u-group-1 {
    min-height: 271px;
    width: 271px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 4px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 9px;
  }

  .u-section-2 .u-group-2 {
    min-height: 271px;
    width: 271px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 4px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 9px;
  }

  .u-section-2 .u-group-3 {
    min-height: 271px;
    width: 271px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 4px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1083px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -190px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 588px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1464px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 25px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-group-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1566px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 69px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-top: 26px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -4px;
  }
} .u-section-3 {
  min-height: 659px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 659px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 124px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 659px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 58px 93px 0 1px;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  line-height: 2;
  margin: 20px 94px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 53px auto 0 0;
  padding: 19px 52px 20px 51px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 543px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 200px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 51px;
    padding-left: 50px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 49px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 49px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1006px;
}

.u-section-4 .u-image-1 {
  width: 656px;
  height: 652px;
  margin: 342px auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 496px;
  height: auto;
  min-height: 496px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -885px 0 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-4 .u-image-1 {
    width: 550px;
    height: 515px;
    margin-top: 334px;
  }

  .u-section-4 .u-group-1 {
    width: 450px;
    min-height: 450px;
    margin-top: -816px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-4 .u-image-1 {
    width: 447px;
    height: 418px;
    margin-top: 407px;
    margin-right: -23px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    width: 380px;
    min-height: 380px;
    margin-top: -765px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    width: 405px;
    height: 398px;
    margin-top: 427px;
  }

  .u-section-4 .u-group-1 {
    width: 345px;
    min-height: 345px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 334px;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    min-height: 340px;
    margin-top: -701px;
    height: NaNpx;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 706px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 60px 368px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 80px 0 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 400px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-text-4 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 30px auto 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-text-6 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-5 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 61px;
    margin-right: 100px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 79px;
    margin-bottom: -44px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 38px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1151px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }
} .u-section-6 {
  min-height: 727px;
}

.u-section-6 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 727px;
  grid-auto-columns: 50%;
  grid-gap: 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 124px;
}

.u-section-6 .u-icon-1 {
  width: 68px;
  height: 68px;
  background-image: none;
  margin: 136px auto 0 0;
  padding: 10px;
}

.u-section-6 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 21px 1px 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 19px 1px 0;
}

.u-section-6 .u-text-3 {
  margin: 21px 1px 0 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  background-image: none;
  margin: 31px auto 0 0;
  padding: 21px 46px 21px 45px;
}

.u-section-6 .u-list-item-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 124px;
}

.u-section-6 .u-icon-2 {
  width: 68px;
  height: 68px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 136px auto 0 0;
  padding: 10px;
}

.u-section-6 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 21px 1px 0 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 19px 1px 0;
}

.u-section-6 .u-text-6 {
  margin: 21px 1px 0 0;
}

.u-section-6 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  background-image: none;
  margin: 31px auto 0 0;
  padding: 21px 46px 21px 45px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 599px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 599px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    border-style: none;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-2 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 70px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 50px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-container-layout-1 {
    padding-right: 49px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 21px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 49px;
  }

  .u-section-6 .u-text-4 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 21px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 563px;
}

.u-section-7 .u-list-1 {
  margin-top: 143px;
  margin-bottom: 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 300px;
  grid-gap: 30px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-7 .u-image-1 {
  width: 171px;
  height: 171px;
  background-image: url("images/pexels-rebrand-cities-1367276.jpg");
  background-position: 50% 50%;
  margin: -63px auto 0;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-7 .u-text-2 {
  margin: 40px 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-7 .u-image-2 {
  width: 171px;
  height: 171px;
  background-image: url("images/pexels-andrea-piacquadio-846747.jpg");
  background-position: 50% 50%;
  margin: -63px auto 0;
}

.u-section-7 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-7 .u-text-4 {
  margin: 40px 0 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-7 .u-image-3 {
  width: 171px;
  height: 171px;
  background-image: url("images/pexels-moose-photos-1586973.jpg");
  background-position: 50% 50%;
  margin: -63px auto 0;
}

.u-section-7 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-7 .u-text-6 {
  margin: 40px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 20px auto 50px;
  padding: 19px 52px 20px 51px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 247px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 927px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 686px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: -17px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-list-1 {
    margin-bottom: 70px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 990px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -62px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -62px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 25px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    margin-top: -62px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 25px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 806px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 60px 311px 0 0;
}

.u-section-8 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 60px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 26.6667px));
  min-height: 520px;
  grid-gap: 40px;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-group-1 {
  min-height: 116px;
  width: 353px;
  height: auto;
  margin: 0;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-8 .u-group-2 {
  min-height: 110px;
  margin-top: -4px;
  margin-bottom: 0;
  height: auto;
}

.u-section-8 .u-container-layout-3 {
  padding: 8px 30px;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-8 .u-text-4 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 108px;
  margin: 29px auto 0;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  margin: 36px auto 0;
  padding: 19px 66px 20px 64px;
}

.u-section-8 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-4 {
  padding: 0;
}

.u-section-8 .u-group-3 {
  min-height: 116px;
  width: 353px;
  height: auto;
  margin: 0;
}

.u-section-8 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-8 .u-group-4 {
  min-height: 110px;
  margin-top: -4px;
  margin-bottom: 0;
  height: auto;
}

.u-section-8 .u-container-layout-6 {
  padding: 8px 30px;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-8 .u-text-7 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 108px;
  margin: 29px auto 0;
}

.u-section-8 .u-btn-2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  border-style: none;
  margin: 36px auto 0;
  padding: 19px 66px 20px 64px;
}

.u-section-8 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-8 .u-container-layout-7 {
  padding: 0;
}

.u-section-8 .u-group-5 {
  min-height: 116px;
  width: 353px;
  height: auto;
  margin: 0;
}

.u-section-8 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-8 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-8 .u-group-6 {
  min-height: 110px;
  margin-top: -4px;
  margin-bottom: 0;
  height: auto;
}

.u-section-8 .u-container-layout-9 {
  padding: 8px 30px;
}

.u-section-8 .u-text-9 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-8 .u-text-10 {
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  width: 108px;
  margin: 29px auto 0;
}

.u-section-8 .u-btn-3 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  margin: 36px auto 0;
  padding: 19px 66px 20px 64px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-8 .u-text-1 {
    width: 548px;
    margin-right: 111px;
  }

  .u-section-8 .u-list-1 {
    margin-bottom: 50px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 510px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-8 .u-group-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-group-2 {
    margin-top: -5px;
    height: auto;
  }

  .u-section-8 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-8 .u-group-3 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-8 .u-group-4 {
    margin-top: -5px;
    height: auto;
  }

  .u-section-8 .u-container-layout-7 {
    padding-bottom: 30px;
  }

  .u-section-8 .u-group-5 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-8 .u-group-6 {
    margin-top: -5px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 20.000025px));
    min-height: 1172px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 753px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 693px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0;
}

.u-section-9 .u-list-1 {
  width: 553px;
  margin: 0 auto;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 522px;
  grid-gap: 30px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-image-1 {
  width: 160px;
  height: 160px;
  background-image: url("images/pexels---12089085.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-1 {
  font-style: normal;
  margin: -160px 0 0 193px;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px 76px 0 193px;
}

.u-section-9 .u-text-3 {
  font-weight: 300;
  font-size: 1rem;
  margin: 18px 92px 0 193px;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-image-2 {
  width: 160px;
  height: 160px;
  background-image: url("images/pexels-shvets-production-7191774.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-4 {
  font-style: normal;
  margin: -160px 0 0 193px;
}

.u-section-9 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px 76px 0 193px;
}

.u-section-9 .u-text-6 {
  font-weight: 300;
  font-size: 1rem;
  margin: 18px 92px 0 193px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 693px;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-9 .u-text-7 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 56px 0 0;
}

.u-section-9 .u-form-1 {
  height: 472px;
  width: 510px;
  margin: 46px 0 0;
}

.u-section-9 .u-form-group-4 {
  margin-left: 0;
}

.u-section-9 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  background-image: none;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 571px;
  }

  .u-section-9 .u-list-1 {
    width: 470px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-image-1 {
    width: 108px;
    height: 108px;
    margin-right: 302px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: -108px;
    margin-left: 138px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-right: 48px;
    margin-left: 138px;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-top: 17px;
    margin-right: 64px;
    margin-left: 138px;
  }

  .u-section-9 .u-image-2 {
    width: 108px;
    height: 108px;
    margin-right: 302px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-top: -108px;
    margin-left: 138px;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    margin-top: 17px;
    margin-right: 48px;
    margin-left: 138px;
  }

  .u-section-9 .u-text-6 {
    width: auto;
    margin-top: 17px;
    margin-right: 64px;
    margin-left: 138px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 571px;
  }

  .u-section-9 .u-text-7 {
    font-size: 1.25rem;
  }

  .u-section-9 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-list-1 {
    width: 360px;
  }

  .u-section-9 .u-image-1 {
    margin-right: auto;
  }

  .u-section-9 .u-text-1 {
    margin-top: 20px;
    margin-right: 28px;
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    margin-right: 76px;
    margin-left: 0;
  }

  .u-section-9 .u-text-3 {
    margin-right: 92px;
    margin-left: 0;
  }

  .u-section-9 .u-image-2 {
    margin-right: auto;
  }

  .u-section-9 .u-text-4 {
    margin-top: 20px;
    margin-right: 28px;
    margin-left: 0;
  }

  .u-section-9 .u-text-5 {
    margin-right: 76px;
    margin-left: 0;
  }

  .u-section-9 .u-text-6 {
    margin-right: 92px;
    margin-left: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 672px;
  }

  .u-section-9 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 704px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 22px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 22px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 567px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 8px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 56px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 72px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 8px;
  }

  .u-section-9 .u-text-5 {
    margin-right: 56px;
  }

  .u-section-9 .u-text-6 {
    margin-right: 72px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }
}